---
apiVersion: v1
kind: Service
metadata:
  name: "{{ lg_name}}-service"
  namespace: default
  labels:
    app: "{{ lg_name }}"
    type: load-generator
spec:
  type: ClusterIP
  clusterIP: None
  ipFamilies:
    - IPv4
  ipFamilyPolicy: SingleStack
  selector:
    app: "{{ lg_name }}"
    type: load-generator
  ports:
    - name: coordination
      port: 5701
      targetPort: 57010
      protocol: TCP
