---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ lg_name }}"
  namespace: default
  labels:
      app: ysb-load-generator
      type: load-generator
spec:
  selector:
    matchLabels:
      app: "{{ lg_name }}"
      type: load-generator
  replicas: {{ lg_replicas }}
  template:
    metadata:
      labels:
        app: "{{ lg_name }}"
        type: load-generator
    spec:
      nodeSelector:
        node-role.kubernetes.io/worker: producer
      terminationGracePeriodSeconds: 0
      imagePullSecrets:
        - name: gitlab-scalehub
      containers:
        - name: workload-generator
          image: "{{ysb_lg_image}}:{{ysb_lg_tag}}"
          env:
            - name: KAFKA_BROKER
              value: kafka-service
            - name: KAFKA_PORT
              value: "9092"
            - name: REDIS_HOST
              value: "redis-service"
            - name: KAFKA_TOPIC
              value: "{{lg_topic}}"
            - name: KAFKA_PARTITIONS
              value: "3"
            - name: SKEW_ENABLED
              value: "false"
          resources:
            limits:
              memory: 4Gi
              cpu: 1000m
