---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  namespace: consul
  name: data-consul-consul-server-0
spec:
  accessModes:
  - ReadWriteOnce
  storageClassName: "{{ storage_class_name }}"
  resources:
    requests:
      storage: 200Mi