apiVersion: apps/v1
kind: Deployment
metadata:
  name: zookeeper
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: zookeeper
  template:
    metadata:
      labels:
        app: zookeeper
    spec:
      nodeSelector:
        node-role.kubernetes.io/worker: producer
      hostname: zookeeper
      imagePullSecrets:
        - name: gitlab-scalehub
      containers:
      - env:
        - name: ZOOKEEPER_CLIENT_PORT
          value: "2181"
        image: "{{zookeeper_image}}:{{zookeeper_tag}}"
        name: zookeeper
        ports:
        - containerPort: 2081
        resources:
          limits:
            memory: 2Gi
            cpu: 200m
      restartPolicy: Always
