apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: serf-agent-daemonset
  namespace: default
spec:
  selector:
    matchLabels:
      app: serf-agent
  template:
    metadata:
      labels:
        app: serf-agent
      annotations:
        k8s.v1.cni.cncf.io/networks: serf-network
    spec:
      imagePullSecrets:
        - name: gitlab-registry-s
      containers:
      - name: serf-agent-container
        image: "{{serf_image}}:{{serf_tag}}"
        ports:
          - containerPort: 7946
            hostPort: 7946
          - containerPort: 7373
            hostPort: 7373
        env:
          - name: NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          - name: POD_IP
            valueFrom:
              fieldRef:
                fieldPath: status.podIP
        args: ["agent","-node", "$(NODE_NAME)", "-iface", "net1", "-rpc-addr", "0.0.0.0:7373"]
      nodeSelector:
        node-role.kubernetes.io/worker: consumer
