---
apiVersion: v1
kind: ConfigMap
metadata:
  name: transscale-config
  namespace: default
  labels:
    app: transscale
data:
  transscale.conf: |+
    sys.max.par = {{ max_parallelism }}
    sys.max.transp = 2
    sys.monitoring.warmup = {{ warmup }}
    sys.monitoring.interval = {{ interval }}
    scaling.strategy.module = transscale.strategies.ParallelismOnly
    scaling.combined.threshold = 30
    
    flink.host = flink-jobmanager
    flink.port = 8081
    flink.job.path = /tmp/jobs/{{ job_file }}
    operator.name = {{ task_name }}
        
    debug.level = 1
