---
apiVersion: v1
kind: Service
metadata:
  name: "{{ lg_name }}"
  namespace: default
  labels:
    app: "{{ lg_name }}"
spec:
  type: ClusterIP
  clusterIP: None
  selector:
    app: "{{ lg_name }}"
  ports:
    - name: coordination
      port: 5701
      targetPort: 57010
      protocol: TCP
