---
# vim: set ft=yaml:
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: "{{ storage_class_name }}"
provisioner: nfs.csi.k8s.io
parameters:
  server: "{{ server_address }}"
  share: "{{ server_share }}/scalehub-pvc"
  subDir: "${pvc.metadata.namespace}-${pvc.metadata.name}"
volumeBindingMode: Immediate
mountOptions:
  - nconnect=16
