---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: flink-taskmanager-xxl
  namespace: flink
spec:
  replicas: 0
  selector:
    matchLabels:
      app: flink
      component: taskmanager
  template:
    metadata:
      labels:
        app: flink
        component: taskmanager
        size: xxl
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: node-role.kubernetes.io/state
                    operator: NotIn
                    values:
                      - FULL
      nodeSelector:
        node-role.kubernetes.io/worker: consumer
        node-role.kubernetes.io/scaling: SCHEDULABLE
      imagePullSecrets:
        - name: gitlab-scalehub
      containers:
        - name: taskmanager
          image: "{{image}}:{{tag}}"
          resources:
            limits:
              memory: 128Gi
              cpu: 52000m
          args: [ "taskmanager" ]
          ports:
            - containerPort: 6122
              name: rpc
            - containerPort: 6125
              name: query-state
            - containerPort: 9249
              name: metrics
          livenessProbe:
            tcpSocket:
              port: 6122
            initialDelaySeconds: 30
            periodSeconds: 60
          volumeMounts:
            - name: flink-config-volume
              mountPath: /opt/flink/conf/
            - name: data-volume
              mountPath: /mnt/data
      volumes:
        - name: flink-config-volume
          configMap:
            name: flink-config
            items:
              - key: flink-conf-taskmanager-xxl.yaml
                path: flink-conf.yaml
              - key: log4j-console.properties
                path: log4j-console.properties
        - name: data-volume
          hostPath:
            path: /tmp/experiment-data
  serviceName:
    flink-taskmanager

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: flink-taskmanager-xl
  namespace: flink
spec:
  replicas: 0
  selector:
    matchLabels:
      app: flink
      component: taskmanager
  template:
    metadata:
      labels:
        app: flink
        component: taskmanager
        size: xl
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: node-role.kubernetes.io/state
                    operator: NotIn
                    values:
                      - FULL
      nodeSelector:
        node-role.kubernetes.io/worker: consumer
        node-role.kubernetes.io/scaling: SCHEDULABLE
      imagePullSecrets:
        - name: gitlab-scalehub
      containers:
        - name: taskmanager
          image: "{{image}}:{{tag}}"
          resources:
            limits:
              memory: 64Gi
              cpu: 16000m
          args: [ "taskmanager" ]
          ports:
            - containerPort: 6122
              name: rpc
            - containerPort: 6125
              name: query-state
            - containerPort: 9249
              name: metrics
          livenessProbe:
            tcpSocket:
              port: 6122
            initialDelaySeconds: 30
            periodSeconds: 60
          volumeMounts:
            - name: flink-config-volume
              mountPath: /opt/flink/conf/
            - name: data-volume
              mountPath: /mnt/data
      volumes:
        - name: flink-config-volume
          configMap:
            name: flink-config
            items:
              - key: flink-conf-taskmanager-l.yaml
                path: flink-conf.yaml
              - key: log4j-console.properties
                path: log4j-console.properties
        - name: data-volume
          hostPath:
            path: /tmp/experiment-data
  serviceName:
    flink-taskmanager
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: flink-taskmanager-l
  namespace: flink
spec:
  replicas: 0
  selector:
    matchLabels:
      app: flink
      component: taskmanager
  template:
    metadata:
      labels:
        app: flink
        component: taskmanager
        size: l
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: node-role.kubernetes.io/state
                    operator: NotIn
                    values:
                      - FULL
      nodeSelector:
        node-role.kubernetes.io/worker: consumer
        node-role.kubernetes.io/scaling: SCHEDULABLE
      imagePullSecrets:
        - name: gitlab-scalehub
      containers:
        - name: taskmanager
          image: "{{image}}:{{tag}}"
          resources:
            limits:
              memory: 32Gi
              cpu: 8000m
          args: [ "taskmanager" ]
          ports:
            - containerPort: 6122
              name: rpc
            - containerPort: 6125
              name: query-state
            - containerPort: 9249
              name: metrics
          livenessProbe:
            tcpSocket:
              port: 6122
            initialDelaySeconds: 30
            periodSeconds: 60
          volumeMounts:
            - name: flink-config-volume
              mountPath: /opt/flink/conf/
            - name: data-volume
              mountPath: /mnt/data
      volumes:
        - name: flink-config-volume
          configMap:
            name: flink-config
            items:
              - key: flink-conf-taskmanager-l.yaml
                path: flink-conf.yaml
              - key: log4j-console.properties
                path: log4j-console.properties
        - name: data-volume
          hostPath:
            path: /tmp/experiment-data
  serviceName:
    flink-taskmanager
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: flink-taskmanager-m
  namespace: flink
spec:
  replicas: 0
  selector:
    matchLabels:
      app: flink
      component: taskmanager
  template:
    metadata:
      labels:
        app: flink
        component: taskmanager
        size: m
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: node-role.kubernetes.io/state
                    operator: NotIn
                    values:
                      - FULL
      nodeSelector:
        node-role.kubernetes.io/worker: consumer
        node-role.kubernetes.io/scaling: SCHEDULABLE
      imagePullSecrets:
        - name: gitlab-scalehub
      containers:
        - name: taskmanager
          image: "{{image}}:{{tag}}"
          resources:
            limits:
              memory: 16Gi
              cpu: 2000m
          args: [ "taskmanager" ]
          ports:
            - containerPort: 6122
              name: rpc
            - containerPort: 6125
              name: query-state
            - containerPort: 9249
              name: metrics
          livenessProbe:
            tcpSocket:
              port: 6122
            initialDelaySeconds: 30
            periodSeconds: 60
          volumeMounts:
            - name: flink-config-volume
              mountPath: /opt/flink/conf/
            - name: data-volume
              mountPath: /mnt/data
      volumes:
        - name: flink-config-volume
          configMap:
            name: flink-config
            items:
              - key: flink-conf-taskmanager-m.yaml
                path: flink-conf.yaml
              - key: log4j-console.properties
                path: log4j-console.properties
        - name: data-volume
          hostPath:
            path: /tmp/experiment-data
  serviceName:
    flink-taskmanager
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: flink-taskmanager-s
  namespace: flink
spec:
  replicas: 0
  selector:
    matchLabels:
      app: flink
      component: taskmanager
  template:
    metadata:
      labels:
        app: flink
        component: taskmanager
        size: s
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: node-role.kubernetes.io/state
                    operator: NotIn
                    values:
                      - FULL
      nodeSelector:
        node-role.kubernetes.io/worker: consumer
        node-role.kubernetes.io/scaling: SCHEDULABLE
      imagePullSecrets:
        - name: gitlab-scalehub
      containers:
        - name: taskmanager
          image: "{{image}}:{{tag}}"
          resources:
            limits:
              memory: 3900Mi
              cpu: 1000m
          args: [ "taskmanager" ]
          ports:
            - containerPort: 6122
              name: rpc
            - containerPort: 6125
              name: query-state
            - containerPort: 9249
              name: metrics
          livenessProbe:
            tcpSocket:
              port: 6122
            initialDelaySeconds: 30
            periodSeconds: 60
          volumeMounts:
            - name: flink-config-volume
              mountPath: /opt/flink/conf/
            - name: data-volume
              mountPath: /mnt/data
      volumes:
        - name: flink-config-volume
          configMap:
            name: flink-config
            items:
              - key: flink-conf-taskmanager-s.yaml
                path: flink-conf.yaml
              - key: log4j-console.properties
                path: log4j-console.properties
        - name: data-volume
          hostPath:
            path: /tmp/experiment-data
  serviceName:
    flink-taskmanager
