---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: flink-taskmanager-bm
  namespace: flink
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flink
      component: taskmanager
  template:
    metadata:
      labels:
        app: flink
        component: taskmanager
    spec:
#     Force scheduling of one taskmanager per node
      #      affinity:
      #        podAntiAffinity:
      #          requiredDuringSchedulingIgnoredDuringExecution:
      #            - topologyKey: kubernetes.io/hostname
      #              labelSelector:
      #                matchLabels:
      #                  app: flink
      #                  component: taskmanager
      nodeSelector:
        node-role.kubernetes.io/worker: consumer
        node-role.kubernetes.io/scaling: SCHEDULABLE
        node-role.kubernetes.io/tnode: grid5000
      terminationGracePeriodSeconds: 0
      imagePullSecrets:
        - name: gitlab-scalehub
      containers:
        - name: taskmanager
          image: "{{image}}:{{tag}}"
          resources:
            limits:
              memory: 64Gi
              cpu: 30000m
          args: ["taskmanager"]
          ports:
            - containerPort: 6122
              name: rpc
            - containerPort: 6125
              name: query-state
            - containerPort: 9249
              name: metrics
          livenessProbe:
            tcpSocket:
              port: 6122
            initialDelaySeconds: 30
            periodSeconds: 60
          volumeMounts:
            - name: flink-config-volume
              mountPath: /opt/flink/conf/
            - name: data-volume
              mountPath: /mnt/data
      volumes:
        - name: flink-config-volume
          configMap:
            name: flink-config
            items:
              - key: flink-conf-taskmanager-l.yaml
                path: flink-conf.yaml
              - key: log4j-console.properties
                path: log4j-console.properties
        - name: data-volume
          hostPath:
            path: /tmp/experiment-data

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: flink-taskmanager-vm-small
  namespace: flink
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flink
      component: taskmanager
  template:
    metadata:
      labels:
        app: flink
        component: taskmanager
    spec:
#     Force scheduling of one taskmanager per node
      #      affinity:
      #        podAntiAffinity:
      #          requiredDuringSchedulingIgnoredDuringExecution:
      #            - topologyKey: kubernetes.io/hostname
      #              labelSelector:
      #                matchLabels:
      #                  app: flink
      #                  component: taskmanager
      nodeSelector:
        node-role.kubernetes.io/worker: consumer
        node-role.kubernetes.io/scaling: SCHEDULABLE
      #        node-role.kubernetes.io/tnode: vm_grid5000
      #        node-role.kubernetes.io/vm_grid5000: small
      terminationGracePeriodSeconds: 0
      imagePullSecrets:
        - name: gitlab-scalehub
      containers:
        - name: taskmanager
          image: "{{image}}:{{tag}}"
          resources:
            limits:
              memory: 4Gi
              cpu: 1000m
          args: ["taskmanager"]
          ports:
            - containerPort: 6122
              name: rpc
            - containerPort: 6125
              name: query-state
            - containerPort: 9249
              name: metrics
          livenessProbe:
            tcpSocket:
              port: 6122
            initialDelaySeconds: 30
            periodSeconds: 60
          volumeMounts:
            - name: flink-config-volume
              mountPath: /opt/flink/conf/
            - name: data-volume
              mountPath: /mnt/data
      volumes:
        - name: flink-config-volume
          configMap:
            name: flink-config
            items:
              - key: flink-conf-taskmanager-s.yaml
                path: flink-conf.yaml
              - key: log4j-console.properties
                path: log4j-console.properties
        - name: data-volume
          hostPath:
            path: /tmp/experiment-data

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: flink-taskmanager-vm-medium
  namespace: flink
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flink
      component: taskmanager
  template:
    metadata:
      labels:
        app: flink
        component: taskmanager
    spec:
#     Force scheduling of one taskmanager per node
      #      affinity:
      #        podAntiAffinity:
      #          requiredDuringSchedulingIgnoredDuringExecution:
      #            - topologyKey: kubernetes.io/hostname
      #              labelSelector:
      #                matchLabels:
      #                  app: flink
      #                  component: taskmanager
      nodeSelector:
        node-role.kubernetes.io/worker: consumer
        node-role.kubernetes.io/scaling: SCHEDULABLE
      #        node-role.kubernetes.io/tnode: vm_grid5000
      #        node-role.kubernetes.io/vm_grid5000: medium
      terminationGracePeriodSeconds: 0
      imagePullSecrets:
        - name: gitlab-scalehub
      containers:
        - name: taskmanager
          image: "{{image}}:{{tag}}"
          resources:
            limits:
              memory: 8Gi
              cpu: 2000m
          args: ["taskmanager"]
          ports:
            - containerPort: 6122
              name: rpc
            - containerPort: 6125
              name: query-state
            - containerPort: 9249
              name: metrics
          livenessProbe:
            tcpSocket:
              port: 6122
            initialDelaySeconds: 30
            periodSeconds: 60
          volumeMounts:
            - name: flink-config-volume
              mountPath: /opt/flink/conf/
            - name: data-volume
              mountPath: /mnt/data
      volumes:
        - name: flink-config-volume
          configMap:
            name: flink-config
            items:
              - key: flink-conf-taskmanager-m.yaml
                path: flink-conf.yaml
              - key: log4j-console.properties
                path: log4j-console.properties
        - name: data-volume
          hostPath:
            path: /tmp/experiment-data
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: flink-taskmanager-pico
  namespace: flink
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flink
      component: taskmanager
  template:
    metadata:
      labels:
        app: flink
        component: taskmanager
    spec:
      #     Force scheduling of one taskmanager per node
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - topologyKey: kubernetes.io/hostname
              labelSelector:
                matchLabels:
                  app: flink
                  component: taskmanager
      nodeSelector:
        node-role.kubernetes.io/worker: consumer
        node-role.kubernetes.io/scaling: SCHEDULABLE
        node-role.kubernetes.io/tnode: pico
      terminationGracePeriodSeconds: 0
      imagePullSecrets:
        - name: gitlab-scalehub
      containers:
        - name: taskmanager
          image: "{{image}}:{{tag}}"
          resources:
            limits:
              memory: 4Gi
              cpu: 2000m
          args: [ "taskmanager" ]
          ports:
            - containerPort: 6122
              name: rpc
            - containerPort: 6125
              name: query-state
            - containerPort: 9249
              name: metrics
          #          livenessProbe:
          #            tcpSocket:
          #              port: 6122
          #            initialDelaySeconds: 30
          #            periodSeconds: 60
          volumeMounts:
            - name: flink-config-volume
              mountPath: /opt/flink/conf/
            - name: data-volume
              mountPath: /mnt/data
      volumes:
        - name: flink-config-volume
          configMap:
            name: flink-config
            items:
              - key: flink-conf-pico.yaml
                path: flink-conf.yaml
              - key: log4j-console.properties
                path: log4j-console.properties
        - name: data-volume
          hostPath:
            path: /tmp/experiment-data