apiVersion: v1
kind: ConfigMap
metadata:
  name: flink-config-tm-l
  namespace: flink
  labels:
    app: flink
    component: taskmanager
    size: l
data:
  flink-conf-taskmanager-l.yaml: |+
    akka.framesize: 104857600b
    blob.server.port: 6124
    rest.profiling.enabled: true
    
    jobmanager.rpc.address: flink-jobmanager.flink.svc.cluster.local
    jobmanager.rpc.port: 6123
    queryable-state.proxy.ports: 6125
    
    taskmanager.rpc.port: 6122
    taskmanager.numberOfTaskSlots: 1
    taskmanager.memory.process.size: 32Gb
    taskmanager.memory.managed.fraction: 0.4
    taskmanager.network.memory.buffer-debloat.enabled: true
    taskmanager.network.detailed-metrics: true
    
    metrics.reporter.prom.factory.class: org.apache.flink.metrics.prometheus.PrometheusReporterFactory
    metrics.reporter.prom.interval: 5 SECONDS
    metrics.reporter.prom.port: 9249
    metrics.fetcher.update-interval: 5000
    metrics.latency.granularity: subtask
    state.checkpoints.dir: s3://flink-bucket/checkpoints
    state.savepoints.dir: s3://flink-bucket/savepoints
    s3.path.style.access: true
    s3.endpoint: http://minio.minio-operator.svc.cluster.local
    s3.access-key: minio
    s3.secret-key: minio123

    pipeline.max-parallelism: 256

  log4j-console.properties: |+
    # This affects logging for both user code and Flink
    rootLogger.level=INFO
    rootLogger.appenderRef.console.ref=ConsoleAppender
    #rootLogger.appenderRef.rolling.ref = RollingFileAppender
    # Uncomment this if you want to _only_ change Flink's logging
    #logger.flink.name = org.apache.flink
    #logger.flink.level = INFO
    # The following lines keep the log level of common libraries/connectors on
    # log level INFO. The root logger does not override this. You have to manually
    # change the log levels here.
    logger.akka.name=akka
    logger.akka.level=INFO
    logger.kafka.name=org.apache.kafka
    logger.kafka.level=INFO
    logger.hadoop.name=org.apache.hadoop
    logger.hadoop.level=INFO
    logger.zookeeper.name=org.apache.zookeeper
    logger.zookeeper.level=INFO
    # Log all infos to the console
    appender.console.name=ConsoleAppender
    appender.console.type=CONSOLE
    appender.console.layout.type=PatternLayout
    appender.console.layout.pattern=%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %-60c %x - %m%n
    # Log all infos in the given rolling file
    #appender.rolling.name = RollingFileAppender
    #appender.rolling.type = RollingFile
    #appender.rolling.append = false
    #appender.rolling.fileName = ${sys:log.file}
    #appender.rolling.filePattern = ${sys:log.file}.%i
    #appender.rolling.layout.type = PatternLayout
    #appender.rolling.layout.pattern = %d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %-60c %x - %m%n
    #appender.rolling.policies.type = Policies
    #appender.rolling.policies.size.type = SizeBasedTriggeringPolicy
    #appender.rolling.policies.size.size=100MB
    #appender.rolling.strategy.type = DefaultRolloverStrategy
    #appender.rolling.strategy.max = 10
    # Suppress the irrelevant (wrong) warnings from the Netty channel handler
    logger.netty.name=org.apache.flink.shaded.akka.org.jboss.netty.channel.DefaultChannelPipeline
    logger.netty.level=OFF

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: flink-taskmanager-l
  namespace: flink
  labels:
    app: flink
    component: taskmanager
    size: l
spec:
  replicas: 0
  podManagementPolicy: Parallel
  selector:
    matchLabels:
      app: flink
      component: taskmanager
  template:
    metadata:
      labels:
        app: flink
        component: taskmanager
        size: l
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: node-role.kubernetes.io/state
                    operator: NotIn
                    values:
                      - FULL
      nodeSelector:
        node-role.kubernetes.io/worker: consumer
        node-role.kubernetes.io/scaling: SCHEDULABLE
      imagePullSecrets:
        - name: gitlab-scalehub
      containers:
        - name: taskmanager
          image: "{{image}}:{{tag}}"
          resources:
            limits:
              memory: 32Gi
              cpu: 8000m
          args: [ "taskmanager" ]
          ports:
            - containerPort: 6122
              name: rpc
            - containerPort: 6125
              name: query-state
            - containerPort: 9249
              name: metrics
          livenessProbe:
            tcpSocket:
              port: 6122
            initialDelaySeconds: 30
            periodSeconds: 60
          volumeMounts:
            - name: flink-config-volume
              mountPath: /opt/flink/conf/
            - name: data-volume
              mountPath: /mnt/data
      volumes:
        - name: flink-config-volume
          configMap:
            name: flink-config-tm-l
            items:
              - key: flink-conf-taskmanager-l.yaml
                path: flink-conf.yaml
              - key: log4j-console.properties
                path: log4j-console.properties
        - name: data-volume
          hostPath:
            path: /tmp/experiment-data
  serviceName:
    flink-taskmanager
